<footer class="strip">
    <div class="my-container centered">
        <h4 class="h2">{{'MENU.CONTACT' | translate | sentanceCase }}</h4>
        <div>
            <a class="contact" href="tel:0032495304278">
                <span class="fa fa-phone"></span>
                <span>+32 495 304 278</span>
            </a>
            <a class="contact" href="mailto:manu.temeian@sef.com">
                <span class="fa fa-envelope-o"></span>
                <span>manu.temeian@sef.com</span>
            </a>
            
            <a class="contact" href="https://facebook.com">
                <span class="fa fa-facebook"></span>
            </a>
        </div>
        
        <div>
            <span class="fa fa-copyright"></span>
            <span>2016  |  All rights reserved</span>
        </div>
    </div>
</footer>