<div class="my-container background-opacity projects-background">
    <div>
        <h4 class="h1 text-center">Our projects</h4>
    </div>
</div>
<div class="my-container projects" style="margin-top: 30px">
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-2.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-3.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-dow3nload.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-downloa2d.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-3.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-downloa2d.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>
            <!--<span [innerHtml]="&#9698"></span>-->

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-2.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>
    </a>
    <a [routerLink]="['/projects/manu']">
        <div class="background-slider project-image" style="background-image: url('/assets/images/1980-3.jpeg');"></div>
        <h5 class="h3">Project construction</h5>
        <div>
            <p>September 2016</p>

        </div>

    </a>
</div>