<div class="my-container background-opacity projects-background">
    <div>
        <h4 class="h1 text-center">{{ 'MENU.RESULTS' | translate | sentanceCase:"sentance" }}</h4>
    </div>
</div>
<div class="my-container projects" style="margin-top: 30px">
		
	<a *ngFor="let project of projects" [routerLink]="[project['$key']]"> 
		<div class="background-slider project-image" [ngStyle]="{'background-image': 'url(' + picture(project) + ')'}"></div> 
	<h5 class="h3">{{project.description}}</h5>
	<div>
		<p>{{project.start}}</p>
	</div>
	</a> 

</div>