.pure-g {
	margin: 25px;
}

.button-secondary {
	background: rgb(66, 184, 221);
}

.button-success {
	background: rgb(28, 184, 65);
}

a.pure-menu-link {
	cursor: pointer;
}

li[class^="pure-u-"]{
	margin-bottom: 10px;
}