<form autocomplete="off" novalidate class="login-form" [formGroup]="form">
	<div class="row">
		<div class="small-6 large-4 columns end">
			
				<fieldset>
					<legend>Login</legend>
					<div>
						<label for="email">Email</label>
						<input type="email" name="email" formControlName="email">
					</div>
					<div>
						<label for="password">Parola</label>
						<input type="password" name="password" formControlName="password">
					</div>
				</fieldset>
		
				<button (click)="login()" class="button">Login</button>
		
		</div>
	</div>
</form>