<nav>
	<ul class="menu simple">
		<!-- <li (click)="clicked('list', 'page')">Pagini</li> -->
		<li (click)="clicked('list', 'project')">Proiecte</li>
		<li (click)="logout()">Logout</li>
	</ul>
</nav>

<app-all-projects *ngIf="!edit && list=='project'" (project)="projects($event)"></app-all-projects>
<app-new-project *ngIf="edit && list=='project'"></app-new-project>
<app-edit-project *ngIf="edit && list.indexOf('project')>-1 && list.length>7" [id]="list.slice(list.indexOf('*')+1)"></app-edit-project>
