<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<!-- <li (click)="clicked('list', 'page')">Pagini</li> -->
		<li (click)="clicked('list', 'project', $event)" class="pure-menu-item pure-menu-selected"><a class="pure-menu-link">Proiecte</a></li>
		<li (click)="logout($event)" class="pure-menu-item"><a class="pure-menu-link">Logout</a></li>
	</ul>
</div>

<app-all-projects *ngIf="!edit && list=='project'" (project)="projects($event)"></app-all-projects>
<app-new-project *ngIf="edit && list=='project'"></app-new-project>
<app-edit-project *ngIf="edit && list.indexOf('project')>-1 && list.length>7" [id]="list.slice(list.indexOf('*')+1)"></app-edit-project>
