<app-slider>

</app-slider>
<div class="strip">
	<div class="my-container center">
		<div class="my-col">
			Looking for a quality and affordable constructor for your next project?
		</div>
		<div class="my-col" [routerLink]="['/' + lang+'/contact']">
			{{ 'HOME.QUOTE' | translate | sentanceCase: "sentance" }}
		</div>
	</div>
</div>
<div class="my-container extend" style="margin-top: 30px">
	<div class="about text-center h2">
		<h3 class="h2 h3_under">Who we are</h3>
	</div>
	<div class="about-pic">
		<img style="max-width: 100%" src="http://demo.joomlavi.com/j3/jv-structure/images/uploads/photo01.jpg" />
	</div>

	<div class="about-text">
		<p>Embedded in our culture of hard work, honesty, and getting the well done job, our history tells not only much about our
			past but also it does our present. Our record of succeeding, surviving, and striving to be the best is central to our
			reputation today.</p>
		<p style="margin-top: 20px">Embedded in our culture of hard work, honesty, and getting the well done job, our history tells not only much about our
			past but also it does our present. Our record of succeeding, surviving, and striving to be the best is central to our
			reputation today.</p>
	</div>
</div>

<div class="my-container centered" style="margin-top: 35px; background-color: #000000">
	<div class="specialty">
		<div class="background-slider renovation" style="background-image: url('/assets/images/1980-bathroom-ceramic-tiles-12.jpg')"></div>
		<h4 class="h3">Experience in tile work</h4>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.
			Aenean lacinia bibendum nulla sed consectetur.</p>
	</div>
	<div class="specialty">
		<div class="background-slider renovation" style="background-image: url('/assets/images/1980-Exterior-Painting.jpg')"></div>
		<h4 class="h3">Facade painting and renovation</h4>
		<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum.
			Aenean lacinia bibendum nulla sed consectetur.</p>
	</div>
</div>

<app-skills-tab>
	<app-skills-display [title]="translate.get('HOME.US')">
		<p style="margin-top: 20px">
			Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posu.
		</p>
	</app-skills-display>
	<app-skills-display [title]="translate.get('HOME.EXPERTISE')">
		<p style="margin-top: 20px">
			Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posu.
		</p>
	</app-skills-display>
	<app-skills-display [title]="translate.get('HOME.COMMIT')">
		<p style="margin-top: 20px">
			Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posu.
		</p>
	</app-skills-display>

	<app-skills-display [title]="translate.get('HOME.VISION')">
		<p style="margin-top: 20px">
			Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Donec sed odio dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posu.
		</p>
	</app-skills-display>
</app-skills-tab>

<div *ngIf="projects.length>0">
	<app-slider-projects [projects]="projects"></app-slider-projects>
</div>	 

<div class="my-container extend" style="margin-top: 35px">
		<div class="partners-parent">
			<h4 class="h2 h3_partners text-center">{{'HOME.PARTNERS' | translate | sentanceCase}}</h4>
		</div>
		<div class="partners">
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_01.jpg" />
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_02.jpg" />
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_03.jpg" />
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_04.jpg" />
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_05.jpg" />
			<img src="https://demo.proteusthemes.com/structurepress/wp-content/uploads/sites/28/2015/11/client_06.jpg" />
		</div>
		
	</div>
<br /><br />
