<div class="my-container one-project">
	<div class="background-slider project-image" [ngStyle]="{'background-image': 'url(' + selected + ')'}"></div>
	<div class="thumbnails">
		<img *ngFor="let pic of pics"[src]="pic" (click)="clickedPic(pic)"/>
	</div>
</div>
<div class="my-container project-details">
	<div>
		<h4 class="h2">Project Description</h4>
		<p><strong>Client:</strong> {{project.client}}</p>
		<p><strong>Location:</strong> {{project.location}}</p>
		<p><strong>Starting date:</strong> {{project.start}}</p>
		<p><strong>Ending date:</strong> {{project.end}}}</p>
	</div>
	<div>
		<h4 class="h2">Project Details</h4>
		<p>{{project.details}}</p>
	</div>

</div>