<div class="my-container one-project">
	<div class="background-slider project-image" [ngStyle]="{'background-image': 'url(' + selected + ')'}"></div>
	<div class="thumbnails">
		<img *ngFor="let pic of pics"[src]="pic" (click)="clickedPic(pic)"/>
	</div>
</div>
<div class="my-container project-details">
	<div>
		<h4 class="h2">{{ 'PROJECT.DESCRIPTION' | translate | sentanceCase:"sentance" }}</h4>
		<p><strong>Client:</strong> {{project.client}}</p>
		<p><strong>{{ 'PROJECT.LOCATION' | translate | sentanceCase }}:</strong> {{project.location}}</p>
		<p><strong>{{ 'PROJECT.START' | translate | sentanceCase:"sentance" }}:</strong> {{project.start}}</p>
		<p><strong>{{ 'PROJECT.END' | translate | sentanceCase:"sentance" }}:</strong> {{project.end}}</p>
	</div>
	<div>
		<h4 class="h2">{{ 'PROJECT.DETAILS' | translate | sentanceCase:"sentance" }}</h4>
		<p>{{project.details}}</p>
	</div>

</div>